<ion-view view-title="Login">
   <ion-content class="padding">
      <form name="login" ng-submit="loginForm(login)" novalidate>
            <label class="item item-input">
               <input placeholder="Email" name="email" type="email" ng-model="user.email" required>
            </label>
            <label class="item item-input">
               <input placeholder="Password" name="password" type="password" ng-model="user.password" required>
            </label>
            <button type="submit" class="button button-block button-royal">Login</button>
      </form>
   </ion-content>
</ion-view>